<nav class="navbar navbar-expand-lg navbar-dark bg-dark mb-5"> 
    <div class="container">
        <div class="navbar-brand curPoint" routerLink="/">
            MarketPlace
        </div>
   
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
            aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">
                <li class="nav-item active">
                    <div class="nav-link curPoint" routerLink="Productos">Productos</div>
                </li>
                <li class="nav-item">
                    <div class="nav-link curPoint" routerLink="Categorias">Categorias</div>
                </li>
            </ul>
        </div>
    </div>
</nav>