<form>
    <div class="card-body">
        <h4 class="header-title mb-3">Editar Categoria</h4>

        <div class="col col-md-12 my-2">
            <h5>Datos de la Categoria</h5>
            <div class="row">

                <div class="col-md-3">
                    <div class="form-group">
                        <label for="">Nombres</label>
                        <input type="text" class="form-control">
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="form-group">
                        <label for="">Nombres</label>
                        <input type="text" class="form-control">
                    </div>
                </div>
            </div>

        </div>
    </div>
</form>

<div class="col col-md-12 my-2">
    <button class="btn btn-success">Guardar</button>
</div>